@{
    ViewBag.Title = "ICT SHOP";
    
}


<br />
<div>
    <img class="img-responsive" src="~/HinhanhSP/ban1.jpg" />
</div>
<br />
<div class="spnoibat">
    <div class="row">

        <h3> SẢN PHẨM NỔI BẬT</h3>
        <div class="col-md-4">
            <img src="~/HinhanhSP/spnb1.png" class="img-responsive" alt="" />
        </div>
        <div class="col-md-4">
            <img src="~/HinhanhSP/spnb2.png" class="img-responsive" alt="" />
        </div>
        <div class="col-md-4">
            <img src="~/HinhanhSP/spnb3.png" class="img-responsive" alt="" />
        </div>
    </div>
</div>

<div class="danhmuc">
    @Html.Action("DanhmucPartial", "Danhmuc")
</div>

<div class="dt">
    @Html.Action("dtsamsungpartial", "Sanpham")
</div>


